.container {
  color: white;
  margin: 0;
  align-items: center;
  text-align: center;
  font-size: larger;
  font-weight: 700;
  padding: 90px
}

.container p {
  color: rgb(185, 180, 180);
}

.container h2 {
  text-align: center;
  color: black;
}

.container a {
  margin: auto;
}

/* .container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  display: flex;
  justify-content: center;
  align-items: center;
} */
